html ,body {
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #666;
  
  &:link, &:visited {
    text-decoration: none;
    color: #666;
  }
  &:hover {
    color: #409EFF;
    text-decoration: none;
  }
}

.page {
  width: 920px;
}
.page-header{
  margin: 0;
  padding: 5px 5px 16px 5px;
  border-bottom: 1px dotted #ccc;
  font-size: 16px;
  font-weight: 600;
}
.page-main {
  padding: 15px;
}

.atom-tac {
  text-align: center;
}
.atom-tal {
  text-align: left;
}
.atom-tar {
  text-align: right;
}
.atom-taj {
  text-align: justify;
}
.atom-ff {
  font-family: "Courier New", Courier, monospace;
}